/* FONTS */

@font-face {
  font-family: BIG_JOHN;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/BIG_JOHN.otf);
}

@font-face {
  font-family: slim_joe;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/slim_joe.otf);
}

@font-face {
  font-family: sinaloa;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/sinaloa.otf);
}

@font-face {
  font-family: antonio_regular;
  font-style: normal;
  src: url(/fonts/Antonio-Regular.ttf);
}

@font-face {
  font-family: antonio_bold;
  font-style: normal;
  src: url(/fonts/Antonio-Bold.ttf);
}

@font-face {
  font-family: antonio_light;
  font-style: normal;
  src: url(/fonts/Antonio-Light.ttf);
}



/* FONTS */

body {
  margin-top: 0;
  margin-bottom: 0;
}

.article-author {
  font-family: antonio_regular;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-content-container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 4rem;
}

.article-criteria {
  background-color: palegoldenrod;
  padding: 2rem;
  border-radius: 5px;
}

.article-image {
  width: 75%;
}

.article-paragraph-container {
  font-family: antonio_light;
  font-size: 2rem;
}

.article-title {
  font-size: 4rem;
  font-family: antonio_regular;
}

.feed-container {
  text-align: center;
}

.feed-content-container {
  width: 1250px;
  margin: 0 auto;
}

.feed-date {
  font-family: slim_joe;
}

.feed-featured-post-container {
  padding: 0.3rem;
  padding-top: 0.4rem;
  background: #3686BF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #3686BF , #61A096); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #3686BF, #61A096); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #3686BF, #61A096); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #3686BF , #61A096); /* Standard syntax */
}

.feed-featured-post-bottom {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.feed-featured-post-bottom-author {
  margin-left: 50%;
  margin-top: -4rem;
  font-family: antonio-regular;
  font-size: 2rem;
  color: #ffffff;
}

.feed-featured-post-bottom-author-name {
  color: #34495e;
}

.feed-featured-post-bottom-link {
  font-family: sinaloa;
  padding: 4rem;
  color: #ffffff;
  font-size: 4rem;
  width: 85%;
  position: relative;
}

.feed-featured-post-bottom-snippet:hover {
  color: #34495e;
}

.feed-featured-post-long {
  height: 32rem;
  width: 68%;
  display: inline-block;
  margin: 0.5px;
  background-color: #ffffff;
  position: relative;
}

.feed-featured-post-long-image {
  height: 100%;
  width: 50%;
  float: left;
  background-size: cover;
  background-position: 50%;
}

.feed-featured-post-long-text {
  width: 50%;
  position: absolute;
  right: 0;
  text-align: left;
  padding: 2rem;
  font-family: antonio_regular;
}

.feed-featured-post-long-text-author {
  color: #3686BF;
}

.feed-featured-post-long-text-snippet {
  font-size: 4rem;
}
.feed-featured-post-long-text-snippet a {
  color: #000000;
}

.feed-featured-post-long-text-snippet:hover a {
  text-decoration: none;
}

.feed-featured-post-long-text-snippet-words:hover {
  color: #3686BF;
}


.feed-featured-post-mid {
  height: 37rem;
  width: 32.8%;
  display: inline-block;
  margin: 0.5px;
  background-color: #ffffff;
  position: relative;
}

.feed-featured-post-short {
  height: 32rem;
  width: 31%;
  display: inline-block;
  margin: 0.5px;
  background-color: #ffffff;
  position: relative;
}

.feed-featured-post-short-image {
  height: 50%;
  width: 100%;
  float: left;
}

.feed-featured-post-short-text {
  width: 100%;
  right: 0;
  text-align: left;
  padding: 2rem;
  font-family: antonio_regular;
  position: absolute;
  top: 19rem;
}

.feed-featured-post-short-text-author {
  color: #3686BF;
}

.feed-featured-post-short-text-snippet {
  font-size: 3rem;
}

.feed-featured-post-short-text-snippet-words:hover {
  color: #3686BF;
}

.feed-hero-container {
  background: url("https://cloud.githubusercontent.com/assets/12450298/24201722/ce809548-0f08-11e7-8d16-a48000e6a1ac.png") no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #ffffff;
  padding: 10rem;
  font-family: sinaloa;
}

.feed-navbar {
  height: 5rem;
  border-bottom: 1px solid lightblue;
  padding: 1rem;
}

.feed-navbar-social-media-container {
  margin-right: 1rem;
}

.feed-post {
  padding: 3rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  display: inline-block;
  font-family: slim_joe;
  border-bottom: 1px solid lightblue;
  width: 100%;
}

.feed-post img {
  width: 32rem;
}

/*https://cloud.githubusercontent.com/assets/12450298/24210535/5bc64296-0f21-11e7-9920-c9c77802afd2.jpg*/

.feed-post-container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.feed-post-image-container {
  display: inline-block;
  float: left;
  width: 50%;
}

.feed-post-tag {
  display: inline-block;
  color: #ffffff;
  background-color: #000000;
  padding: 0.3rem;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.feed-post-text {
  display: inline-block;
  width: 50%;
  padding-top: 6rem;
}

.feed-title {
  font-size: 10rem;
}

.highlight {
  color: orangered;
  font-size: 2rem;
  line-height: 1rem;
}

.link {
  color: #000000;
}

.link:hover {
  text-decoration: none;
}

.link-bottom {
  color: #ffffff;
}

.link-bottom:hover {
  color: #34495e;
  text-decoration: none;
}

.login-button {
  width: 100%;
  height: 48px;
  background-color: #009DE4;
  border:none;
  color: #ffffff;
  font-size: 2rem;
}

.login-input {
  width: 384px;
  height: 43px;
  background-color: #FCFCFC;
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  z-index: 10;
}

.logout-button {
  border: 1px solid lightblue;
  padding: 1rem;
  border-radius: 500px;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logout-button:hover {
  border: 1px solid #3686BF;
  background-color: #3686BF;
  color: #ffffff;
  text-decoration: none;
}

.logout-button-container {
  float: right;
  margin-top: 2rem;
}

.navigation {
  background-color: #3686BF;
  width: 100%;
  height: 4rem;
}

.navigation-social-media {
  width: 3rem;
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.navigation-title {
  color: #ffffff;
  font-family: sinaloa;
  font-size: 3.23rem;
  margin-left: 1rem;
  display: inline-block;
}

.navigation:hover a {
  text-decoration: none;
}

.paragraph {
  width: 100%;
  height: 200px !important;
}

.post-featured {
  margin-left: 2rem;
}

.social-media-icon {
  width: 3rem;
  float: right;
  margin-left: 0.3rem;
}

.social-media-icon:hover {
  fill: black;
}


.tall {
  height: 40rem;
}

@media (max-width: 1250px) {
  .feed-content-container {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .feed-featured-post-long {
    width: 100%;
  }
  .feed-featured-post-short {
    width: 49.5%;
    height: 35rem;
  }
  .feed-featured-post-short-text-snippet-words {
    font-size: 2rem;
  }
  .feed-featured-post-short-text {
    top: 19rem;
    line-height: 2.5rem;
  }
  .feed-featured-post-short-image {
    height: 60%;
  }
}
